<h1>Hosts</h1><br />

<%= link_to 'New Host', new_host_path %><br />



<h2>Import Hosts</h2>
<%= form_tag import_hosts_path, :multipart=> true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<br />
<h1>Listing hosts</h1>

<table>
  <tr>
    <th>Ref</th>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.ref %></td>
    <td><%= host.name %></td>
    <td><%= host.address %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


