<p id="notice"><%= notice %></p>

<p>
  <b>Ref:</b>
  <%= @host.ref %>
</p>

<p>
  <b>Name:</b>
  <%= @host.name %>
</p>

<p>
  <b>Address:</b>
  <%= @host.address %>
</p>


<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
